@model IEnumerable<StudentModel>
@{
    ViewData["Title"] = "All Users";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            Email
        </th>
        <th>
            Set As Bloger
        </th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <th>
                @user.Id
            </th>
            <th>
                @user.Email
            </th>
            <th>
                <form method="post">
                    <input hidden name="id" value="@user.Id" />
                    <button type="submit" class="btn btn-primary">Set</button>
                </form>
            </th>
        </tr>
    }
</table>